{{#if showIntro}}
  {{intro-go onIntroEnds=(action "startSequence")}}
{{/if}}

<div class="simon-board">
  <div id="btn-1" class="simon-btn simon-btn__green">H</div>
  <div id="btn-2" class="simon-btn simon-btn__yellow">J</div>
  <div id="btn-3" class="simon-btn simon-btn__blue">K</div>
  <div id="btn-4" class="simon-btn simon-btn__red">L</div>
</div>
