<div class="simon-board">
  <div id="btn-1" class="simon-btn simon-btn__green" onClick={{perform animateMovement 1}}>
    H
  </div>
  <div id="btn-2" class="simon-btn simon-btn__yellow" onClick={{perform animateMovement 2}}>
    J
  </div>
  <div id="btn-3" class="simon-btn simon-btn__blue" onClick={{perform animateMovement 3}}>
    K
  </div>
  <div id="btn-4" class="simon-btn simon-btn__red" onClick={{perform animateMovement 4}}>
    L
  </div>
</div>
